.logoFlor{
    width: 5%;
}

.preguntasFrec ul li{
    margin: 2rem;
}

h2{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.mapContacto{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.flechaC{
    width: 5%;
}
.separadorContacto{
    border-bottom: black solid;
}