.separador{
    background-image: url(../imagenes/prueba5.jpg);
    width: 100%;
    height: 2rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-style: solid;
    border-radius: 10rem;
    margin-bottom: 2rem;
    margin-top: 6rem;
}

.conteiner{
    width: 100%;
}

.tituloH2{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

div h3{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.sponsors{
    margin-bottom: 4rem;
}

.perfil{
    height: 12rem;
}

.inCC{
    height:4em;
    width:4em;
}

/*.card{
    border-color: black;
    border-style: solid;
    border-width: 0.2rem;
}*/

.sponsorImg{
    height: 8rem;
}

.consulta{
    
    text-decoration: none;
}

.parrafo{
    margin-bottom: 4rem;
}